*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}

.top{
    width: 99.8%;
    height: 100px;
    background-color: rgb(70, 67, 67);
    border: 2px solid white;
}

.top-leiter{
    font-size: 50px;
    text-align: center;
    color: beige;
    
}

.btn{
    padding: 10px;
    background-color: gray;
    color: black;
    display: inline-block;
    position: absolute;
    top: 5%;
    right: 3%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
}

.btn:hover{
    background: black;
    color: beige;
    border: 2px solid white;
    border-radius: 10px;
}

.modal{
    width: 500px;
    height: 500px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    animation: animated;
    animation-duration: 800ms;
    border-radius: 20px;
    border: 2px solid white;
}

@keyframes animated{
    from{opacity: 1;}
    from{opacity: 0;}
}

.fechar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: right;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
}

.tip{
    display: inline-block;
    margin-left: 55px;
    margin-top: 15px;
}

.desc{
    width: 380px;
    height: 80px;
}

.body-1, .body-2, .body-3, .body-4{
    margin-top: 10px;
}

.body-leiter, .body-4{
    text-align: center;
}

.desc{
    border-radius: 20px;
}

.btn-slv{
    text-align: center;
    cursor: pointer;
    font-size: 18px;
    margin-top: 8px;
    border: 1px solid black;
    border-radius: 8px;
    background: gray;
    color: white;
}

.btn-slv:hover{
    background: black;
    color: beige;
    border: 2px solid white;
    border-radius: 8px;
}